body{
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 215px;
    background: rgb(231, 229, 229);
}

.haut{
    background-color: #424951;
    width: 33%;
    height: 22px;
    text-align: center;
    float: left;
}
.haut p{

    margin-top: -1px;
    color: #fff;
}

.eshop{
    width: 50%;
    float: left;
    /* border: 2px solid red; */
    padding-left: 100px;
    padding-top: 58px;
}
.logo{
    width: 30%;
    float: right;
    /* border: 2px solid red; */
    height: 178px;
    margin-right: 188px;
    margin-top: 10px;
}


.devis{
    width: 50%;
    height: 48px;
    float: left;
   
    /* border: 2px solid blue; */ 
}
.devis p{
    margin-left: 60px;
    margin-top: -44px;
}
.devis img{
    margin-top: 50px;
}
.devis2{
    width: 50%;
    height: 48px;
    /* float: left */
    position: relative;
    left:  10px;
}
.devis2 p{
    margin-left: 60px;
    margin-top: -44px;
}
.devis2 img{
    margin-top: 50px;
}
.devis1{
    width: 48%;
    height: 0px;
    float: right;
    /* border: 2px solid blue; */
   
}

.devis1 p{
    /* margin-left: 15px; */
    margin-top: 11px;
}
.devis1 img{
    position: relative;
    width: 30%;
    height: 50px;
    left: 111px;
    bottom: 58px;
}
#egal{
    position: relative;
    top: 39px;
}
.ega{
    position: relative;
    top: -18px;
}
/* NAV */
nav{
    width: 100%;
    height: 35px;
    background-color: rgb(231, 229, 229);
    border: 1px solid #424951;
}
nav a{
    color: #000;
    text-decoration: none;
    border-right: 1px solid #909190;
    /* margin: auto; */
    padding:2px 30px;
    
    display: inline-block;
    position: relative;
    margin: 8px;
    left: 137px;
    bottom: 6px;
}
#bar{
    width: 170px;
    height: 25px;
    border: 1px solid #424951;
    background-color: #aaa; 
    position: absolute;
    right: 382px;
    top: 220px;
    text-align: center;
}
#bar2{
    width: 37px;
    height: 30px;
    background-color: #424951;
    position: absolute;
    right: 345px;
    top: 219px;
    text-align: center;
    color: aliceblue;
}
#loupe{
    position: absolute;
    right: 239px;
    top: 227px;
    color: aliceblue;
}
a i{
    font-size: 23px;
}
a:hover{
    background: rgb(230, 42, 73);;
    -moz-transition-duration: 1s;
    color: #fff;
    border: 2px solid #fff;
}
/* FIN NAV */

/* ------------------------------ */
main{
    width: 80%;
    height: 2062px;
    /* border: 2px solid red; */
    margin: auto;
}
#partie1{
    width: 100%;
    height: 450px;
     /* border: 2px solid blue; */
}
.f_slide{
    width: 100%;
    height: 450px;
}
#slide{
    width: 51%;
    height: 450px;
    background-image: url(img/slider1.jpg);
    margin-top: 60px;
}

.fleche{
    width: 45px;
    height: 40px;
    position: relative;
    bottom: 233px;
    background-color: rgb(230, 42, 73);
}
.f1{
    width: 1px;
    height: 18px;
    background-color: #fff;
    transform: rotate(42deg);
    position: relative;
    left: 21px;
    top: 4px;
}
.f2{
   width: 1px;
    height: 18px;
    background-color: #fff;
    transform: rotate(-42deg);
    position: relative;
    left: 21px; 
    bottom: 1px;
}
.fleche2{
    width: 45px;
    height: 40px;
    position: relative;
    bottom: 277px;
    left: 727px;
    background-color: rgb(230, 42, 73);
}
.f3{
    width: 1px;
    height: 18px;
    background-color: #fff;
    transform: rotate(-42deg);
    position: relative;
    left: 21px;
    top: 4px;  
}
.f4{
    width: 1px;
    height: 18px;
    background-color: #fff;
    transform: rotate(42deg);
    position: relative;
    left: 21px;
    bottom: 1px;
}
.texte{
    width: 51%;
    height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.164);
    position: relative;
    bottom: 122px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carre{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    float: right;
    margin-right: 10px;
    background-color: #aaa;
}
.carre1{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    background-color: #424951;
    float: right;
    margin-right: 10px;
}

.slide1 {
    width: 28%;
    height: 190px;
    background: url(img/slider3.jpg) 0px -210px;
    position: relative;
    left: 915px;
    bottom: 450px;
}
.voir_tout{
    width: 28%;
    height: 24px;
    background-color: rgb(230, 42, 73);
    text-align: center;
    color: #fff;
    position: relative;
    left: 915px;
    bottom: 466px;
}
.slide2{
    width: 28%;
    height: 190px;
    background: url(img/slider2.jpg) 0px -210px;
    position: relative;
    left: 915px;
    bottom: 443px;
}
.voir_tout2{
    width: 28%;
    height: 24px;
    background-color: rgb(230, 42, 73);
    text-align: center;
    color: #fff;
    position: relative;
    left: 915px;
    bottom: 459px;
}
#option{
    width: 100%;
    height: 132px;
    /* border: 2px solid blue; */
    position: relative;
    bottom: 390px;
}
#option i{
    font-size: 40px;
}
.paiement{
    width: 25%;
    height: 45px;
    color: #909190;
    text-transform: uppercase;  
    float: left;
}

.livraison{
      width: 25%;
    height: 45px;
    color: #909190;
    text-transform: uppercase;
    float: left;
}

.garantie{
     width: 25%;
    height: 45px;
    color: #909190;
    text-transform: uppercase;
    float: left;
}
.satisfait{
     width: 25%;
    height: 45px;
    color: #909190;
    text-transform: uppercase;
    float: left;
}
.facilite{
    position: relative;
    top: 23px;
    width: 25%;
    height: 75px;
    color: #909190;
    text-transform: uppercase;
    float: left;
}
.facilite i{
    position: relative;
    top: 20px;;
}

span{
    margin-left: 46px;
}

.echantillon{
    width: 25%;
    height: 75px;
    color: #909190;
    text-transform: uppercase;
    float: left;
}
.echange{
    width: 25%;
    height: 75px;
    color: #909190;
    text-transform: uppercase;
    float: left;
}


/* ----------------- */

#produits{
    width: 10%;
    height: 25px;
    background-color: rgb(230, 42, 73);
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    position: relative;
    bottom: 380px;
}
hr{
    position: relative;
    bottom: 389px; 
}
#triangle{
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 30px solid rgb(230, 42, 73);
    position: relative;
    bottom: 423px;
    left: 151px;
}
/* ---------------- */
#carreaux{
    width: 20%;
    height: 367px;
    border: 1px solid #aaa;
    position: relative;
    bottom: 408px;
}
.image{
    width: 100%;
    height: 250px;
}

.c2{
   text-align: center; 
}
.c2 span{
    color: rgb(230, 42, 73);
    padding-right: 43px;
    margin-top: 10px;
}
.c3{
    width: 50%;
    height: 20px;
    background-color: #424951;
    color: #fff;

}
.c3 i{
    color: rgb(230, 42, 73);
}
.c4{
    width: 50%;
    height: 20px; 
    color: #fff;
    background-color:rgb(230, 42, 73);
    position: relative;
    left: 152px;
    bottom: 36px;
}
.c5{
   width: 100%;
   height: 20px;
   background-color: #aaa;
   position: relative;
   bottom: 52px;
}
.c5 p{
    position: relative;
    left: 40px;
}
/* -------2-------- */
#carreaux2{
    width: 20%;
    height: 367px;
    border: 1px solid #aaa;
    position: relative;
    bottom: 778px;
    /* left: 629px; */
    margin: auto;
}

#promo{
    width: 10%;
    height: 25px;
    background-color: rgb(230, 42, 73);
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    position: relative;
    transform: rotate(-43deg);
    bottom: 1114px;
    left:  593px;
}
#carreaux3{
     width: 20%;
    height: 367px;
     border: 1px solid #aaa;
    position: relative;
    bottom: 1190px;
    left: 1215px;
}
#prmo{
     width: 12%;
    height: 25px;
    background-color: rgb(230, 42, 73);
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    position: relative;
    transform: rotate(-43deg);
    bottom: 1516px;
    left:  1201px;
}

#carreaux4{
    width: 20%;
    height: 367px;
     border: 1px solid #aaa;
    position: relative;
    bottom: 1205px;
   
}
#carreaux5{
    width: 20%;
    height: 367px;
    border: 1px solid #aaa;
    position: relative;
    bottom: 1574px;
    margin: auto;
}
#carreaux6{
     width: 20%;
    height: 367px;
    border: 1px solid #aaa;
    position: relative;
    bottom: 1943px;
    left: 1215px;
}
#pro{
    width: 10%;
    height: 25px;
    background-color: rgb(230, 42, 73);
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    position: relative;
    transform: rotate(-43deg);
    bottom: 2280px;
    left:  1204px;
}
/* --------------------------------------- */
#eshopp{
    width: 15%;
    height: 25px;
}
#eshop_rose{

    width: 80%;
    height: 25px;
    background-color: rgb(230, 42, 73);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 2349px;
}
#eshop_triangle{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid  rgb(230, 42, 73);
    position: relative;
    bottom: 2374px;
    left: 182px;
}
#eshop_gris{
    width: 100%;
    height: 400px;
    background-color: #5c5c5c;
    position: relative;
    bottom: 1917px;
}


.eshop1{
    background: url(img/sprites.png) 1px -104px;
    height: 38px;
    width: 41px;
    position: absolute;
    top: 40px;
    left: 26px;
}
.eshop2{
    position: absolute;
    top: 36px;
    left: 105px;
    color: aliceblue;
    
}
.eshop3{
    background: url(img/sprites.png) 1px -137px;
    height: 38px;
    width: 41px;
    position: absolute;
    top: 157px;
    left: 26px;
}
.eshop4{
    position: absolute;
    top: 157px;
    left: 105px;
    color: aliceblue;
}
.eshop5{
    background: url(img/sprites.png) 1px -173px;
    height: 38px;
    width: 41px;
    position: absolute;
    top: 270px;
    left: 26px;
}
.eshop6{
    position: absolute;
    top: 270px;
    left: 105px;
    color: aliceblue;
    
}
.eshop7{
    width: 1px;
    height: 260px;
    background-color: #aaa;
    position: absolute;
    top: 66px;
    left: 457px;
}

.eshop8{
    background: url(img/sprites.png) 1px -205px;
    height: 38px;
    width: 41px;
    position: absolute;
    top: 40px;
    left: 500px;
}
.eshop9{
    position: absolute;
    top: 44px;
    left: 581px;
    color: aliceblue;
}
.eshop10{
    width: 1px;
    height: 260px;
    background-color: #aaa;
    position: absolute;
    top: 66px;
    left: 1040px;
}

.eshop11{
    background: url(img/sprites.png) 1px -243px;
    height: 38px;
    width: 41px;
    position: absolute;
    top: 40px;
    left: 1076px;
}
.eshop12{
    position: absolute;
    top: 44px;
    left: 1181px;
    color: aliceblue;
    
}
.eshop13{
     position: absolute;
    top: 365px;
    left: 430px;
    color: rgb(230, 42, 73);
   
    word-spacing: 24px;
}
/* ---------------------------- */
#fond_bas{
    width: 100%;
    height: 1110px;
    background-color: rgb(235, 235, 235);
   
   
}
#fond_bas h3{
    text-align: center;
    text-transform: uppercase;
}
.map{
    width: 15%;
    height: 350px;
    /* border: 2px solid red; */
    position: relative;
    left: 50px;
    top: 16px;
}
.trait{
    width: 450px;
    height: 2px;
    background-color: #aaa;
    position: relative;
    bottom: 15px;
}
#capture img{
    width: 100px;
    height: 100px;
    float: left;
}
.map_c{
    float: left;
}
.map_c h4{
    color: #424951;
    text-transform: uppercase
}
.map_c span{
    position: relative;
    left: 104px;
    bottom: 125px;
    color: #909190;
}
.ullia{
      width: 100%;
    height: 300px;
    /* border: 2px solid red; */
    position: relative;
    top: 100px;
}
ul li{
    list-style: none;
    position: relative;
    top: -120px;
    right: 41px;
    word-spacing: 10px;
    display: inline-block;
}
li a{
    color: #909190;
}
#information{
     width: 15%;
    height: 350px;
    /* border: 2px solid red; */
    position: relative;
    left: 627px;
    bottom: 353px;
}
.trait2{
    width: 400px;
    height: 2px;
    background-color: #aaa;
    position: relative;
    bottom: 15px;
    right: 67px;
}

#qualite{
    width: 15%;
    height: 350px;
    /* border: 2px solid red; */
    position: relative;
    left: 1105px;
    bottom: 723px;
}
#qualite img{
    position: relative;
    left: 50px;
    top: 10px;
}
#partage{
    width: 15%;
    height: 350px;
    /* border: 2px solid red; */
    position: relative;
    left: 1567px;
    bottom: 1092px;
    text-align: center;
}

#partage img{
    width: 338px;
    height: 200px;
    position: relative;
    right: 30px;
}
.p3{
    width: 338px;
    height: 117px;
    background-color: #aaa;
    position: relative;
    right: 30px;
}
.insc{
    width: 70%;
    height: 25px;
}
.p4{
    width: 338px;
    height: 252px;
    background-color: #aaa;
    position: relative;
    right: 30px;
}
.form{
    width: 90%;
    height: 30px;
}
.button{
    background: #424951;
    height: 30px;
}
#social i{
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}

#dernier{
    width: 80%;
    height: 200px;
    margin-left: 50px;
    position: relative;
    bottom: 1073px; 
    color: #909190;
}
/* ------------------------------ */
footer{
    width: 100%;
    height: 50px;
}
.trait3{
    width: 95%;
    height: 2px;
    background-color: #aaa;
    position: relative;
    bottom: 30px;
    left: 29px;
}
.ancre{
    position: relative;
    bottom: 49px;
    left: 50%;
}
.t_g{
    color: #909190;
    position: relative;
    bottom: 58px;
    left: 30px;
}
.t_d{
    /* float: right;
    margin-top: -68px; */
    position: relative;
    left: 66%;
    bottom: 192%;
    color: #909190;
}